// reset css style
* {
	margin: 0;
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
button,
input,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}
img,
video,
canvas,
svg {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	outline: none;
}
.logo {
	display: flex;
	align-items: center;
	gap: 3px;
	font-family: 'Oswald', sans-serif;
	h1 {
		font-size: 40px;
		min-width: 120px;
		@media (max-width: 912px) {
			font-size: 35px;
		}
		@media (max-width: 465px) {
			font-size: 30px;
		}
	}
}
.oswald {
	font-family: 'Oswald', sans-serif;
}
